<% if (message.length> 0) { %>
     <div class="alert alert-<%=status%>" role="alert">
          <%= message %>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     <% }%>