<!DOCTYPE html>
<html lang="en">

     <head>
          <%- include('../partials/header') %>
               <title>Biodata</title>
     </head>

     <body>
          <%- include('../partials/navbar') %>
               <div class="container">
                    <h1 align="center">User Game Biodata</h1>
                    <%- include('../partials/message') %>
                         <div class="row">
                              <div class="col">
                                   <form action="/admin/add" method="post">
                                        <div class="form-group">
                                             <label for="id">Username</label>
                                             <input type="text" class="form-control" name="username" id="username"
                                                  placeholder="masukkan id Anda" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                             <label for="pass">Password</label>
                                             <input type="password" name="pass" id="pass" class="form-control" required>
                                        </div>
                                        <br>
                                        <button class="btn btn-success" type="submit">Register</button>
                                   </form>
                              </div>
                              <div class="col">
                                   <h2 align="center">Show Data</h2>
                                   <ol>
                                        <% if(data.length> 0) {
                                             for(let i=0; i < data.length; i++) { %>
                                                  <!-- tampil data -->
                                                  <li>UserId : <%= data[i].userId %> <br>
                                                            Username : <%= data[i].username %> <br>
                                                                 Password : <%= data[i].password %> <br>
                                                                      <a href="/admin/update/<%= data[i].userId %>"
                                                                           class="btn btn-primary">Update</a>
                                                                      &nbsp;&nbsp;&nbsp;
                                                                      <a href="/admin/<%= data[i].userId %>?_method=DELETE"
                                                                           class="btn btn-danger">Delete</a>
                                                  </li>
                                                  <br>
                                                  <% } } else { %>
                                                       <li>No Data Found</li>
                                                       <% } %>
                                   </ol>
                              </div>
                         </div>
               </div>
     </body>

</html>