<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include('../partials/header') %>
			<title>Challenge 6</title>
	</head>

	<body>
		<div class="container">
			<%- include('../partials/message') %>
				<h1 align="center">Challenge 6 - Super Admin Login</h1>
				<form action="/login" method="post">
					<div class="form-group">
						<label for="id">User ID</label>
						<input type="text" class="form-control" name="id" id="id" placeholder="masukkan id Anda"
							required>
					</div>
					<br>
					<div class="form-group">
						<label for="pass">Password</label>
						<input type="password" name="pass" id="pass" class="form-control"
							placeholder="masukkan password Anda" required>
					</div>
					<br>
					<button class="btn btn-success" type="submit">Login</button>
				</form>
		</div>
	</body>

</html>