<!DOCTYPE html>
<html lang="en">

     <head>
          <%- include('../partials/header') %>
               <title>Super Admin</title>
     </head>

     <body>
          <div class="container">
               <h1 align="center">Update Data</h1>
               <%- include('../partials/message') %>
                    <div class="container">
                         <form action="/admin/update?_method=PUT" method="post">
                              <div class="form-group">
                                   <label for="id">Username</label>
                                   <input type="text" class="form-control" name="userId" id="userId"
                                        value="<%= data.userId %>" required readonly>
                              </div>
                              <br>
                              <div class="form-group">
                                   <label for="pass">Ganti Password</label>
                                   <input type="password" name="pass" id="pass" class="form-control" required>
                              </div>
                              <br>
                              <div class="form-group">
                                   <label for="nama">Ganti Nama</label>
                                   <input type="text" name="nama" id="nama" class="form-control"
                                        value="<%= data.biodata.nama %>" placeholder="masukkan nama baru Anda" required>
                              </div>
                              <br>
                              <div class="form-group">
                                   <label for="umur">Ganti Umur</label>
                                   <input type="number" name="umur" id="umur" class="form-control"
                                        value="<%= data.biodata.umur %>" placeholder="masukkan umur baru Anda" required>
                              </div>
                              <br>
                              <div class="form-floating">
                                   <textarea class="form-control" value="" placeholder="Masukkan alamat baru Anda"
                                        id="alamat">
                                        <%= data.biodata.alamat %>
                                   </textarea>
                                   <label for="alamat">Ganti Alamat</label>
                              </div>
                              <br>
                              <button class="btn btn-success" type="submit">Update Data</button>
                         </form>
                    </div>
          </div>
     </body>

</html>